.btn.btn-circle {
  width: 38px;
  height: 38px;
  text-align: center;
  padding: 6px 0;
  font-size: inherit;
  line-height: 1.428571429;
  border-radius: 20px;
}

.btn-circle.btn-sm, .btn-group-sm > .btn-circle.btn {
  width: 32px;
  height: 32px;
  padding: 0.25rem 0.5rem;
  font-size: 0.7575rem;
  line-height: 1.33;
  border-radius: 18px;
}
.btn-circle.btn-lg, .btn-group-lg > .btn-circle.btn {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 1.125rem;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 1.5rem;
  line-height: 1.33;
  border-radius: 35px;
}

/*.nav-pills li a:hover {
  background-color: whitesmoke;
}

.nav-pills li a .active {
  background-color: whitesmoke;
}*/

.nav-underline > li > a.active,
.nav-underline > li > a.active:hover {
    text-decoration: none;
    border-radius:0px;
    border-bottom: 3px solid #007BFE;
    color: #007BFE !important;
    background-color: transparent !important;

}
.nav-underline > li > a:hover {
  text-decoration: none;
    border-radius:0px;
    /*border-bottom: 3px solid #007BFE;*/
    color: #007BFE !important;
    background-color: transparent !important;
    /*text-decoration: none;
    font-weight: bold;
    border-radius:0px;
        color: #007BFE !important;
      background-color: #f8f9fa;
      margin-left: 3px;
      margin-right: 3px;*/

}
.nav-underline  > li > a{
    border-radius:0px;
    /*font-weight: bold;*/
    color: #6c757d  !important;
    /*margin-left: 3px;*/
      /*margin-right: 3px;*/

}

.dropstart .dropdown-toggle::before {
    content: none !important;
}

.form-check-input {
  clear: left;
}

.form-switch.form-switch-sm {
  margin-bottom: 0.5rem;
  /* JUST FOR STYLING PURPOSE */
}
.form-switch.form-switch-sm .form-check-input {
  height: 1rem;
  width: calc(1rem + 0.75rem);
  border-radius: 2rem;
}

.form-switch.form-switch-md {
  margin-bottom: 1rem;
  /* JUST FOR STYLING PURPOSE */
}
.form-switch.form-switch-md .form-check-input {
  height: 1.5rem;
  width: calc(2rem + 0.75rem);
  border-radius: 3rem;
}

.form-switch.form-switch-lg {
  margin-bottom: 1.5rem;
  /* JUST FOR STYLING PURPOSE */
}
.form-switch.form-switch-lg .form-check-input {
  height: 2rem;
  width: calc(3rem + 0.75rem);
  border-radius: 4rem;
}

.form-switch.form-switch-xl {
  margin-bottom: 2rem;
  /* JUST FOR STYLING PURPOSE */
}
.form-switch.form-switch-xl .form-check-input {
  height: 2.5rem;
  width: calc(4rem + 0.75rem);
  border-radius: 5rem;
}

/*vertical progress bar*/
.progress{
  background-color: #fff !important;
  border-radius: 0 !important;
}
.progress-vertical {
  min-width: 30px;
  min-height: 200px;
  display: flex;
  align-items: flex-end;
  /*margin-right: 20px;*/
  float: left;
/*background-color: #7f7f7f;*/
}

.progress-vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}